/* ----INDEX ----
 
1. Variables & root
2. Generic tags
3. Layout
4. Header & Navbar
5. Lists
6. Buttons
7. Prompts
8. Forms
9. Categories
10. Media queries

-------- */

/* ---- 1. Variables & Root --- */

:root {
    --primary: gainsboro;
    --primary-sft: rgb(231, 239, 248);
    --secondary: lightsteelblue;
    --ternary: rgb(244 249 255);
    --extra: rgb(114, 142, 179);
    --titles: rgb(37, 54, 77);
    --links: red;
}


#root {
    max-width: 1200px;
    width: 95%;
    min-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----- 2. TAGS -------- */

img {
    width: 100%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 0 5px;
    padding: 5px 5px;
}

a {
    text-decoration: none;
    color: var(--titles);
}

/*---- 3. LAYOUT ----- */

#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: inherit;
}

header {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: var(--secondary);
    padding: 20px;
    font-weight: bold; 
}

.main {
    flex-basis: 70%;
    padding: 20px;
    background-color: var(--primary-sft);
    box-shadow: 5px 5px 5px gainsboro;
}

.secondary {
    flex-basis: 40%;
}

/* ------- 4. NAVBAR ------- */

nav > * {
    margin: 20px 0;
}

.logo {
    text-align: center;
    border: 0.5rem double var(--extra);
}

.logo h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    margin-bottom: 5px;
}

.logo p {
    font-size: 1rem;
    margin-top: 5px;
}

.list a:hover {
    color: var(--links);
}

.avatar {
    padding: 15px;
    /* text-align: center; */
    border-top: 0.2rem solid var(--extra);
}

.avatar img {
    width: 20%;
}

/* ------- 5. LISTS ---------- */

.filters_nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

/* ------ 6. BUTTONS --------- */

form button, .user__register button{
    margin: 20px auto;
    padding: 5px 20px;
    background-color: transparent;
}

.filters_nav button {
    border-radius: 30px;
    padding:  15px 20px;
}

.prompts-footer__options button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    margin: 0 5px;

}

.prompts-footer__options button:hover {
    background-color: var(--secondary);
}

/* ------ 7. PROMPTS -------- */

.prompts {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin: 10px 0;
    color: rgb(78, 78, 78);
    background-color: var(--ternary);
    box-shadow: 2px 2px 5px gainsboro;
}

.prompts__main {
    flex-basis: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

.prompts__description {
    color: black;
    line-height: 1.5rem;
}

.prompts__categories {
    font-family: 'Roboto', sans-serif;;
}


.prompts__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-top: 1px gainsboro solid;
}

.prompts-footer__author {
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.prompts-footer__author img {
    margin: 0 5px;
    max-width: 30px;
}

.prompts-footer__options {
    flex-basis: 30%;
    display: flex;
    justify-content: space-evenly;
}

.prompts-footer__options img {
    width: 15px;
}

.favourite {
    background-color: red;
}



/* --------- 8. FORMS --------- */

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  
    max-width: 600px;
    margin: 30px auto;
    background-color: var(--ternary);
    padding: 30px;
}

form div {
    flex-basis: 50%;
    margin: 10px 0px;

}


label {
    display: block;
    padding: 5px 0px;
}

input, select {
    box-shadow: 1px 1px 1px rgb(52, 54, 63);
    width: 90%;
    height: 30px;
    box-sizing: border-box;
    border-color: rgb(52, 54, 63);
}

.textarea {
    flex-basis: 100%;
}

.textarea textarea {
    width: 100%;
    box-shadow: 1px 1px 1px rgb(52, 54, 63);
    border-color: rgb(52, 54, 63);
    box-sizing: border-box;
}

/*--- Forms categories ----*/
.categories__secondary form {
    display: block;
}

#user_actions {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/* --- Forms login and register --*/
.user__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

}
.user__wrap > article {
    flex-basis: 40%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid gainsboro;
}

.user__login {
    justify-content: center;
    display: block;
}

/* ------ 9. CATEGORIES ------ */
#categories__main {
    display: flex;
    justify-content: space-between;
}

.categories__nav {
    border-right: 1px solid grey;
    padding: 5%;
}

.categories__nav ul {
    margin-bottom: 30px;
}

.categories__secondary {
    flex-basis: 70%;
}

.categories__add {
    border-top: 1px gainsboro solid;
    padding-top: 10px;
}




/*---- 10. MEDIA QUERIES ----*/

@media (max-width: 665px) {
    header, #home {
        flex-basis: 100%;
    }
    .avatar > a {
        display: flex;
    }

    .avatar img {
        width: 15%;
    }

 }














