#header-logout-button {
  margin-left: 90px;
  margin-top: 5px;
  padding: 4%;
  border: 2.667px solid rgb(37, 54, 77);
  border-radius: 80px;
  height: 53px;
  width: 53px;
  background-color: lightsteelblue;
  color: rgb(37, 54, 77);
  font-size: 90%;
  font-weight: 700;
  cursor: pointer;
}

#header-logout-button:hover {
  background-color: rgb(176, 186, 199);
  opacity: 0.9;
}
